<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/font/fontello.css" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <script src="/scripts/main.js" type="text/javascript" />
    </head>
    <body>
        <header></header>
        <section id="content">
            $body$
        </section>
        <footer>
          <div id="twitter">
            <a class="twitter-timeline" href="https://twitter.com/srenaultcontact" data-widget-id="377129342704177153"></a>
          </div>
          <a class="home" href="/index.html"></a>
          <a class="contact-me" href="#contactme">Contact me</a>
        </footer>

        <!-- Twitter -->
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </body>
</html>
